.customZTitle{
  text-align: left;
}

#log-page {
    background-image: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6ab);
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  }
  
  #log-card {
    position: relative;
    top: calc(50vh - 400px);
    left: calc(50vw - 210px);
    padding-top: 36px;
    padding-bottom: 66px;
    width: 450px;
    text-align: center;
    background-color: white;
    border-radius: 22px;
  }

  #reg-card {
    position: relative;
    top: calc(50vh - 400px);
    left: calc(50vw - 210px);
    padding-top: 36px;
    padding-bottom: 66px;
    width: 450px;
    text-align: center;
    background-color: white;
    border-radius: 22px;
  }


  @media only screen and (max-width: 539px) {
    #log-card {
     width: 300px;
     height: 550px;
     margin-top: 5%;
     margin-left:15%;
     margin-right: 15%;
    }
    #reg-card{
     width: 300px;
     height: 800px;
     margin-left:15%;
     margin-right: 15%;
    }
    .customButtonsetting{
      height: 43px;
      width: 80px;
      font-size: 11px;
    }
    .google{
      height: 43px;
      width: 130px;
      font-size: 11px;
    }
  }

  @media only screen and (max-width: 350px) {
    #log-card {
     width: 250px;
     height: 470px;
     margin-left:30%;
     margin-top:50%;
    
    }
    #reg-card{
      width: 270px;
      height: 750px;
      margin-left:20%;
      margin-right: 15%;
      margin-top: 60%;
     }
    
    .customButtonsetting{
      height: 32px;
      width: 70px;
      font-size: 8px;
    }
    .google{
      height: 37px;
      width: 90px;
      font-size: 8px;
    }
    h3{
      font-size:10px;
    }
  }

  .log-button {
    cursor: pointer;
    color: white;
    padding: 12px;
    border-radius: 8px;
    display: inline-block;
  }
  
  .facebook {
    background-color: #3b5998;
  }
  
  .google {
    background-color: #4285f4;
    color: white;
  }
  
  #loading-container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgb(255, 255, 255, 0.22);
  }
  
  #loading-icon {
    font-size: 66px;
    position: relative;
    left: calc(50vw - 33px);
    top: calc(50vh - 22px);
  }

  .iconCustom{
    width: 150px;
    height: 150px;
  }

  h5{
    color: red;
  }